name: Update Airbnb iCal

on:
  schedule:
    - cron: "0 * * * *"   # every hour
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Download Airbnb iCal
        run: curl -L "https://ical.tab.travel/npxkw-acc-1.ics?t=2322ba" -o airbnb.ics

      - name: Commit updated file
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add airbnb.ics
          git commit -m "Update iCal" || echo "No changes"
          git push
